<body style="background-color:MediumSeaGreen;">
<% if @count == 0 %>
    <h1> HAPPY BIRTHDAY <%=@name %>!!</h1>
<% end %>
<% if @count != 0 %>   
  <h1>Your birthday will be in <%=@count %> days, <%=@name%></h1>
<% end %>
</body>